.post button{
    background-color: transparent;
    border: none;
    margin-right: 1em;
}

.card-footer button{
    margin: 0;
    padding: 0;
}

.form-comment{
    display: none;
}

.text-end{
    position: relative;
}

.profile-popup{
    background-color: aliceblue;
    border-radius: 10%;
    padding: 2em 1em;
    display: none;
    position: absolute;
    right: -3.3em;
}

.text-end:hover .profile-popup{
    display: flex;
    flex: column;
}

.comments-list{
    display: none;
}
